*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/launch-countdown-timer-main/images/bg-stars.svg);
  background-color: hsl(234, 17%, 12%);
}

.text-container {
  text-align: center;
  margin-top: 6rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 12px;
  /* font-size: 2rem; */
  font-family: "Red Hat Text", sans-serif;
}

.the-numbers {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  gap: 2.4rem;
  /* background-color: hsl(235, 16%, 14%); */
}

.all-num-dates{
  display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 1rem; */
    /* color: hsl(237, 18%, 59%); */
}

.time{
  color: hsl(237, 18%, 59%);
  margin: 1rem;
  text-align: center;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

/*  */


.number {
  position: relative;
   /* background-color: hsl(236, 21%, 26%); */
   background: linear-gradient(to top, hsl(235, 16%, 14%) 0 50%,   hsl(234, 17%, 12%)  50% 100%);
   padding: 3rem;
  /* font-weight: 10rem; */
  font-size: 3rem;
  font-family: "Red Hat Text", sans-serif;
  color: hsl(345, 95%, 68%);
  box-shadow: 0px 8px 2px 0px black;
  border-radius: 8px;
  width: 10rem;
  text-align: center;
  overflow: hidden;
}

.number::after{
  content: '';
  position: absolute;
  top: 0%;
  left: 0;
  height:50%;
  width:100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background: black;
  opacity: 0.2;
  z-index: 10;
}

/* .number::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -6px;
  z-index: 10;
  width: 12px;
  height:12px;
  border-radius: 50%;
  background: black;
}

.number::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -6px;
  z-index: 10;
  width: 12px;
  height:12px;
  border-radius: 50%;
  background: black;
} */



.number span.first-span{
  position: absolute;
  top: calc(50% - (12px / 2));
  z-index: 10;
  width: 12px;
  height:12px;
  border-radius: 50%;
  background: black;
}

.number span.first-span:first-of-type {
  left: -6px;
}

.number span.first-span:nth-of-type(2){
  right: -6px;
}

.number span:last-of-type {
  position: absolute;
  top: 50%;
  left:0px;
  background:  hsl(235, 16%, 14%);
  width:100%;
  height: 1px;
}

.image-container1{
  width: 100%;
}

.image-container{
 display: flex;
justify-content: center;
gap: 3rem;
margin-top: -8rem;
cursor: pointer;
}

.image-container img:hover {
  background-color: hsl(345, 95%, 68%);
  cursor: pointer;
}

@media screen and (max-width:375) {
  
  body {
    background-image: url(/launch-countdown-timer-main/images/bg-stars.svg);
    background-color: hsl(234, 17%, 12%);
  }

  .number{
    font-size: 24px;
  }

  .text-container{
      margin-top: 2rem;
        margin-bottom: 1rem;
        margin-right: 5rem;
        margin-left: 5rem;
  }

  .the-numbers{
    padding: 1rem;
    font-size: 1.5rem; 
 
  }

  .time{
    font-size: 24px;
  }

  .image-container {
    width: 100%;
  }
}

